
html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*----NAV----*/
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(45, 45, 45);
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Bangers', cursive;
}

nav img{
    width: 200px;
}

.menu{
    font-size: 30px;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.submenu{
  padding: 0 20px;
}

/*----HEADER----*/
header{
    background-image: url('./../img/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.combate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
}

.heroe1, .heroe2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.ficha1, .ficha2{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
}

.stats1, .stats2{
    width: 300px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: center;
    padding-bottom: 10px;
    margin: 5px;
}

#heroe1 img, #heroe2 img{
    width: 280px;
    border-radius: 25px;
    margin: 10px;
    border: 3px solid white;
}



@keyframes animate2{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.vs img{
    width: 150px;
}

.vs img:hover{
    animation: flip 2s infinite;
}

@keyframes flip {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

.indicaciones{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-content: center;
    justify-content: center;
}

.indicaciones img{
    width: 50px;
    padding: 0 15px;
}

/*----ARTICULO: ACERCA----*/
article{
    background-color: #000;
    height: 100%;
    padding: 10px 0;
    color: rgb(255, 204, 0); 
}

.historia{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

article img{
    width: 300px;
    border-radius: 100%;
    margin: 20px 0;
}

article h3{
    font-family: 'Bangers', cursive;
    font-size: 40px;
}

article p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

.foto{
    flex-basis: 300px;
}

.acerca{
    flex-basis: 800px;
}

/*----CONTACTO----*/
.contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.fondo{
    background-image: url(./../img/17914.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.contacto h3{
    font-family: 'Bangers', cursive;
    font-size: 40px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

i{
    font-size: 50px;
    padding: 20px;
    color: #000;
}

i:hover{
    animation: flip 2s infinite;
}

.contacto p{
    font-family: 'Poppins', sans-serif;
}

/*----FOOTER----*/
footer{
    background-color: rgb(45, 45, 45);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

footer img{
    width: 150px;
}